.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 18px 117px;
  max-width: 1440px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 73px;
}
.linksContainer {
  display: flex;
  gap: 44px;
  align-items: center;
}
