.header {
  width: 100%;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1440px;
  margin: 0 auto;
  padding: 18px 117px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 73px;
}
.linksContainer {
  display: flex;
  gap: 44px;
  justify-content: end;
  align-items: center;
}
