.btn {
  box-shadow: 0 5px 15px 0 rgba(188, 199, 255, 0.75);
  background-color: #4c85ff;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding: 13px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-height: 43px;
}
.secondBtn {
  background: #f5f8ff;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #adb4d2;
  border: 1px solid #adb4d2;
  box-shadow: none;
  padding: 13px 21px;
  max-height: 43px;
}
