.accentColor {
  font-weight: 500;
  width: 100%;
}
.title {
  font-weight: 300;
  font-size: 48px;
  color: #3d4f9f;
  margin-bottom: 36px;
  width: 100%;
}
.secondTitle {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 27px;
}
