.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accentColor {
  font-weight: 500;
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px 0 rgba(201, 209, 231, 0.6);
  border: none;
}
