html {
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  color: #8d96bd;
  font-size: 15px;
  font-weight: 400;
  line-height: 191%;
  letter-spacing: 0.03em;
}
body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
