.container {
  background: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  padding-top: 92px;
  padding-bottom: 212px;
  width: 100%;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
