.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textPlan {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 16px;
}
.accentColor {
  font-weight: 500;
  width: 100%;
}
.title {
  font-weight: 300;
  font-size: 48px;
  color: #3d4f9f;
  margin-bottom: 36px;
  width: 100%;
}
.contentText {
  margin-bottom: 20px;
  max-width: 502px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px 0 rgba(201, 209, 231, 0.6);
  border: none;
}
